body {
    background-color: #1c2838;
}


.P1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.precio1 {
    color: #F72335;
    font-size: 12px;
}


.img1 {
    height: 68px;
    width: 184px;
}


table {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

th, td {
    width: 300px;
    
}
.hola {
    border: solid;
    color: white;
}

.final{
    background-color: #edede8;
    color: rgb(7, 6, 6);
}

/* navegacion */
.btnnav {
    border-radius: 5%;
    margin-right: 5px;
}


/* Botones tarjetas */
.BTNedit {
    animation: cambiocolor 10s infinite;
    
}

.BTNedit:hover {
    background-color: #F72335;
    transition: background-color 2s;
    animation-name: cambiocolor;
    animation-duration: 10s;
}

@keyframes cambiocolor {
    0% {
      background-color: #E8C40C;
    }
    25% {
      background-color: #ABE80C;
    }
    75% {
      background-color: #0CE8B1;
    }
    100% {
      background-color: #130CE8;
    }
  }


/* Botones tabla */
.btnedit {
    background-color: #5ccfd7;
    border: none;
    border-radius: 10%;
    transition: backgraund-color width 4s;
    clip-path: circle(50% at top left);
    transition-property: clip-path;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.btnedit:hover {
    clip-path: circle(300% at top left);
    background-color: #f7de23;
    width: 80px;
}